h1 {
    color:aquamarine
}

title {
    color:aqua
}

h2 {
    color:greenyellow
}

h3 {
    color:green
}

body {
    color:goldenrod
}

html {
    background-color:darkslategray
}

body{
    width:600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border:5px white;
    background-color: grey;
}

img, h1, h2, h3, title, body {
    display:block;
    margin: 0 auto;
}

img{
    max-width: 150px;
    max-height: 150px;
    min-width:150px;
    min-height: 150px;
}
